/*GRILLA GAMING Y MUSIC*/
#area1 {
  grid-area: area1;
  background-image: linear-gradient(to bottom, #9c9c9c, #ece9e9);
  justify-content: center;
  text-align: left; }

#area2 {
  grid-area: area2;
  background-image: linear-gradient(to bottom, #9c9c9c, #ece9e9);
  justify-content: center;
  text-align: left; }

#area3 {
  grid-area: area3;
  background-image: linear-gradient(to bottom, #9c9c9c, #ece9e9);
  justify-content: center;
  text-align: left; }

.grilla {
  display: grid;
  grid-template-areas: "area1 area1 area2 area2" "area3 area3 area3 area3";
  grid-template-columns: 450px 450px 250px 150px;
  grid-template-rows: 600px 100px;
  grid-row-gap: 10px;
  grid-column-gap: 10px; }

#area2 {
  padding-top: 100px;
  vertical-align: middle; }

#area4 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; }

.flex-container {
  display: flex;
  justify-content: center; }

.flex-child:hover {
  opacity: 0.7;
  flex: 1;
  border: 2px solid #808080;
  height: 350px; }

.flex-child:first-child {
  margin-right: 20px; }

.amitadDePantalla {
  align-items: center;
  text-align: center;
  min-height: 100vh; }

/*Indice*/
nav {
  text-align: right; }
  nav a {
    margin: 20px;
    text-decoration: none;
    color: #345c78; }

.espacio {
  margin: 25px; }

.letra {
  font-family: 'Cabin' , arial, sans-serif;
  font-weight: bold; }

/*Footer*/
#linkEmpezar {
  text-decoration: none;
  color: #345c78; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-twitter {
  background: #55ACEE;
  color: white; }

.fa-google {
  background: #dd4b39;
  color: white; }

.parrafo-expertos {
  margin: 15px;
  padding: 15px;
  font-size: large; }

#colorFooter {
  background-color: coral;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }

#link {
  color: black;
  text-decoration: None; }

#textoCentrado {
  text-align: center; }

.fondoDegradeGris {
  background-image: linear-gradient(to bottom, white, #8f8e8e); }

#fondoGris {
  background-color: #918e8e; }

.imagenBack {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/imagenes/fondoheadphone.jpg");
  background-size: cover; }

#desenfoque {
  filter: blur(10px); }

#quienesSomos {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: #3B5998;
  opacity: 0.85;
  text-align: center;
  padding: 5px 10px 12px 15px;
  color: White;
  padding-top: 100px;
  vertical-align: middle; }

* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Roboto Condensed'; }

#alineadoCentro {
  text-align: center;
  padding: 5px 10px 12px 15px;
  background-color: grey;
  border: solid 3px; }

.padre-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.padre-flexBottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }

section div {
  background-color: #345c78;
  padding: 5px;
  border: 1px solid black; }

.tamanioImg {
  width: 200px;
  height: 350px; }

#imgGrande {
  width: 900;
  height: 600; }

/*Carousel*/
#imagenCarousel {
  width: 80%;
  height: 100%; }

#imagenFondo {
  background-color: #b1a5a5; }

.animado:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.letraGrande {
  font-size: 25px; }
