@import "grillas";
@import "encabezado";

//el archivo importable debe ir precedido de _

//Comentario en SASS

*{
    margin: 0;
    padding: 0;

}



html{
    font-family: 'Roboto Condensed';
}


#alineadoCentro{
    text-align: center;
    padding: 5px 10px 12px 15px;
    background-color: grey;
    border: solid 3px;
    
    
}


.padre-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.padre-flexBottom{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}



section{ 
    div{
      background-color: rgb(52, 92, 120);
      padding: 5px;
      border: 1px solid black;
    }

}

.tamanioImg{
    width: 200px;
    height: 350px;
}

#imgGrande{
    width: 900;
    height: 600;
}

//Preguntar como hacer para que aparezcan los puntitos del carrousel para desplazarse
/*Carousel*/
#imagenCarousel{
    width: 80%;
    height: 100%;
}

#imagenFondo{
    background-color: rgb(177, 165, 165);
}

.animado:hover{
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
   
}

.letraGrande{
    font-size: 25px;
}

//Music



