*{
    margin: 0;
    padding: 0;

}

html{
    font-family: 'Roboto Condensed';
}

nav{
    text-align: right;
}

nav a{
    margin: 20px;
    text-decoration: none;
    color: rgb(52, 92, 120); 

    
}



.espacio{
    margin: 25px;
}

.letra{
    font-family: 'Cabin' , arial, sans-serif ;
    font-weight: bold;
    
}

#alineadoCentro{
    text-align: center;
    
    padding: 5px 10px 12px 15px;
    background-color: grey;
    border: solid 3px;
    
    
}



